#map {
    display: flex;
    justify-content: center;
  }
  
  
  #area2 {
    position: absolute;
    top: 300px;
    left: 400px;
    width: 150px;
    height: 70px;
    background-color: green;
    color: white;
  }
  
  #area3 {
    position: absolute;
    top: 450px;
    left: 100px;
    width: 80px;
    height: 40px;
    background-color: red;
    color: white;
  }
  
  #area1:hover,
  #area2:hover,
  #area3:hover {
    opacity: 0.8;
  }
  
  