<!DOCTYPE html>
<html lang="en ">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="civ.css">
    <title>Leaders Civilization</title>
    <link rel="icon" type="image/x-icon" href="./europa/Civ5.png">
<img src="static/images/mondo.jpg" id="map" usemap="#image-map">
<map name="image-map">
    <area target="_blank" id="America_Nord" alt="America Nord" title="America Nord" href="./nord america/nordamerica.html" coords="-1,23,380,414" shape="rect">
    <area target="_blank" id="America_Sud" alt="America Sud " title="America Sud " href="./sud america/sudamerica.html" coords="144,428,402,774" shape="rect">
    <area target="_blank" id="Africa" alt="Africa" title="Africa" href="./africa/africa.html" coords="420,359,782,755,744,754" shape="rect">
    <area target="_blank" id="Europa" alt="Europa" title="Europa" href="./europa/Europa.html" coords="453,127,777,343" shape="rect">
    <area target="_blank" id="" alt="Asia" title="Asia" href="./asia/asia.html" coords="791,84,1209,500,812,402,786,122,860,336,801,361" shape="rect">
    <area target="_blank" alt="Oceania" title="Oceania" href="./oceania/oceania.html" coords="972,511,1277,763" shape="rect">
</map>



