<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Europa</title>
  <link rel="stylesheet" href="Europa.css">

</head>
<body>
  <div class="Europa">
    <h1></h1>
  <a href=""><img src="" alt=""></a>
  <a href="./Cesare.html" class="immagine-cliccabile">
    <img src="Augustus_Caesar.png" alt="immagine-normale">
    <img src="Roman.png" alt="Roman" class="immagine-animata">
  <a href="./Napoleon.html" class="immagine-cliccabile">
      <img src="Napoleon.png" alt="immagine-normale">
      <img src="French.png" alt="Roman" class="immagine-animata">
 </div>
</body>
</html>



