body {
    background-image: url("sfondoeuropa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .immagine-animata {
    display: none;
  }
  
  .immagine-cliccabile:hover .immagine-animata {
    display: block;
  }
  
  .immagine-cliccabile:hover img:not(.immagine-animata) {
    display: none;
  }
   